/* #verification-box {
  text-align: center;
}

#checkbox-label {
  display: block;
  margin-bottom: 10px;
}

#verification-result {
  margin-top: 10px;
}

#loading-indicator {
  display: none;
}

.checkmark {
  display: none;
  color: green;
  font-size: 24px;
} */
